body {
    background-color: cornsilk;
}

li { 
    list-style-type: none;
    display: inline-block;
    padding-right: 30px;
    text-align: center;
}

h1 {
    text-align: center;
    color: firebrick;
}

p {
    text-align: center;
}